# Python
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Models
*.pkl

# OS files
.DS_Store
Thumbs.dbgit

#Data
data/raw/
data/processed/
